@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Workshop DevOps JUNIO 2023 </h1>
    <img src="images/Logo Microsoft.png" alt="Microsoft" />
    <img src="images/GBMLogo.png" alt="GBM" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
