@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Workshop DevOps, Panamá - Junio 2023 Copa. </h1>
     <div style="padding:10px;"></div>
    <p>Learn about <a href="https://azure.microsoft.com/es-es/products/devops">Azure DevOps</a>.</p>
    </div>
    <div class="text-center">
    <p> GBM Page <a href="https://www.gbm.net/digital-factory">view</a>.</p>
</div>
