@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Workshop DevOps JUNIO 2023 </h1>
     <div style="padding:10px;"></div>
     <div class="row white">
    <div class="carousel">
        <a class="carousel-item"><img src="./images/Logo Microsoft.jpg"></a>
    <p>Learn about <a href="https://azure.microsoft.com/es-es/products/devops">Azure DevOps</a>.</p>
    </div>
    <div class="text-center">
     <img src="images/GBMLogo.jpg"/>
    <p> GBM Page <a href="https://www.gbm.net/digital-factory">view</a>.</p>
</div>
