@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Workshop DevOps JUNIO 2023 </h1>
     <div style="padding:10px;"></div>
      <Image Source="images/Logo Microsoft.jpg" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="text-center">
     <img src="images/GBMLogo.jpg" alt="GBM" />
    <p> GBM Page <a href="https://www.gbm.net/digital-factory">view</a>.</p>
</div>
